<!doctype html>
<head>
	<meta charset="utf-8">

	<title>Node Launchpad</title>

	<meta name="description" content="">
	<meta name="keywords" content="">

</head>
<body>

	<div id="wrapper">

		<header id="header">

			<h1>Hello, world!</h1>

		</header> <!-- #header -->

		<section role="main" id="content">

			<div id="floor" class="cf">

			</div>

		</section> <!-- #content -->

		<footer id="footer">

		</footer> <!-- #footer -->

	</div> <!-- #wrapper -->

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var App = {
			socket: io.connect('{{ basePath }}'),
			basePath: '{{ basePath }}'
		};

	</script>
	<script src="{{ siteurl }}/assets/js/script.js"></script>

</body>
</html>
